
body{
	margin: 0;
	text-align: center;
font-family: sans-serif;
}
h1{
	margin: 50px auto 0 auto;
	font-family: 'Dancing Script', cursive;
	font-size:7rem;
	color: #66BFBF;
}
.top-container h2{
	font-size: 2.5rem;
     font-family: 'Dancing Script', cursive;
color: #66BFBF;
font-weight: normal;
}
h2{
	color: #66BFBF;
	font-size: 45px;
}
h3{
	color: #11999E;
}
a{
	color: #11999E;
	margin: 10px 20px;
	text-decoration: none;
}
a:hover{
	color: #EAF6F6; 
}
p{
	
	color: #40514E;
	font-weight: bolder;
	line-height: 2;

}
hr{
	margin-top: 30px;
	margin-right: 45%;
	margin-left: 45%;
	border: 7px dotted #EAF6F6;
	border-style: none none dotted;
}
.top-container{
	background-color: #D7FFFD;
	position: relative;
	padding-top: 100px;	
	line-height: 2;
	}
.top-cloud{
	position: absolute; 
	right: 300px;
	top: 50px;
	
    }
.bottom-cloud{
	position: absolute;
	left: 300px;
	bottom: 300px;
}
.profileimg{
	width: 15%;
	height: 15%;
	margin-top: 0px;
}

.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	
}
.skill-img1 {
	width: 25%;
	float: left;
	padding-right: 30px;
}
.skill-img2 {
	width: 25%;
	float: right;
	padding-left: 30px;
}

.middle-container{
margin: 100px 0;
}
.contact-msg{
	width: 40%;
	margin: 40px auto 60px; 
}

/* button code */
.button {
background-color: #11999E; 
  border: none;
  color: white;
 
  text-align: center;
  
  cursor: pointer;
  border-radius: 22px;
  margin: auto;
  opacity: 0.8;
  transition: 0.3s;

 width: 150px;
 height: 40px;
 font-weight: bold;
 font-size: 15px;
 
  padding: auto;
}

.button1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.button:hover {opacity: 5}


/* Footer */
.bottom-container{
background-color: #66BFBF;

padding:50px 0 20px	 ;
}
.copyright{
color: #EAF6F6;
font-size: 0.90rem;
padding: 20px 0;
}
